.applicant {
	*border: 1px black solid;
	display: block;
	position: relative;
	top : -4px;
	width: 320px;
	margin : 0 auto;
}

.applicantImg {
/* 	*border     : 1px #D3D4D5 solid; */
	display    : block;
/* 	width      : 90px; */
	float      : left;
	margin-top : 25px;
	*margin-left: 10px;
}

.applicantInfoDiv {
	*border: 1px red solid;
	position     : relative;
	*top          : 22px;
	*left         : 30px;
	float: right;
	margin-top : 25px;
	margin-right: 20px;
	margin-bottom: 44px;
}

.applicantTable td {
	border-bottom: 1px #D3D4D5 solid;
	*display  : block;
	width       : 100px;
	height : 30px;
	line-height : 30px;
	text-align: center;
	font-size: 0.8em;
	padding: 2px 0 2px 3px;
}

/*신청자에게 달린 코멘트들 - 주의 : 책이나 수락하는 사람에게 달린 정보가 아니다*/
/* #replyForm {
	*border : 1px #D3D4D5 solid;
	display : block;
	position: relative;
	width   : 460px;
	*position: relative;
	*top     : 22px;
	*left    : 60px;
	margin: 20px auto 0 auto;
} */

/*코멘트가 누구에게 달리는지 알아보기 힘든 느낌이 들어서 첨부한 글귀*/
/* #applicantCommentExplain {
	display   : inline-block;
	width     : 100%;
	text-align: right;
	z-index   : 10;
	font-size : 0.7em;

}

#replyForm table {
	display: block;
	width  :100%;
}

.replyCommentId {
	padding-left    : px;
	font-size       : 0.7em;
	font-weight     : bold;
	color           : #000;
	background-color: #E0E0E0;
}

.replyComment {
	display       : block;
	width         : 450px;
	font-size     : 0.7em;
	color         : #000;
	margin-left   : 5px;
	padding-top   : 5px;
	padding-bottom: 5px;
	vertical-align: middle;
} */

#acceptPageButton {
	*border    : 1px red solid;
	display   : block;
	position : relative;
	top : -20px;
	width     : 150px;
	height : 30px;
	clear     : both;
	margin-left : 100px;
}

.acceptBtn {
	border : 1px #D3D4D5 solid;
	display : inline-block;
	width : 60px;
	*postion : absolute;
	line-height : 30px;
	text-align : center;
}

#acceptConfirm {
	float : right;
}