/*책등록 페이지에서 wrapper*/
/*어떤 페이지든 이 사이즈는 유지*/
/*이 부분이 바뀌면 다른 모든 페이지도 의논해서 조종을 해야함*/
/*각 페이지를 만들 때 해당하는 페이지의 이름 + Wrapper로 id를 지정해서 꼭 넣어야함*/
#bookUploadWrapper {
	*border: 1px red solid;
	width   : 100%;
	height  : 100%;
	position: relative;
	overflow: hidden;
	background-color : #F5F5F5;
}

/*이 css도 위의 Wrapper와 동일*/
/*모든 페이지에 같이 적용*/
#bookUploadPage {
	*border  : 1px #D3D4D5 solid;
	width   : 820px;
	height  : 100%;
	position: relative;
	*top     : 35px;
	left    : 50px;	
}

#bookUploadForm {
	*border: 1px #D3D4D5 solid;
	width: 500px;
	position: relative;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

#bookUploadNotice {
    border: 1px solid transparent;
    display: block;
    font-size: 0.9em;
    text-align: center;
    position: relative;
    margin: 0 auto;
}

#bookUploadBox {
    border   : 1px #D3D4D5 solid;
    display: inline-block;
    width    : 75%;
    margin-left: 32px;
    font-size: 0.9em;
}

#bookUploadFormField {
    border    : 1px #D3D4D5 solid;
    padding   :0;
    border    :0;
    margin-top:25px;
}

/*책등록, 책신청, 수락 페이지에서 자세한 책 정보가 나올 때 현재 모두 이 이미지 사이즈임*/
/*지금은 교보문고에서 얻은 사이즈이지만 만약 네이버에서 주는 사이즈가 다르다면 우리가 리사이즈를 하든지 */
/*네이버 사이즈에 맞춰서 페이지를 다시 만들어야하지만 될 수 있으면 이 사이즈 정도로 맞추는 것이 편함*/
/*이 사이즈로 유지할 것이라고 정한다면 id가 아닌 class로 지정하여*/
/*공통 css로 뽑는 것이 더 편함. 의논이 필요함*/
.bookUploadImgInfo {
	border            : 1px #D3D4D5 solid;
	float             : left;
	width             : 152px;
	margin-left       : 30px;
	margin-top        : 30px;
}

/*자세한 책 정보도 같음*/
/*이 부분도 공통 css로 뽑아낼 것인지 의논이 필요*/
.bookUploadTextInfo {
	border      : 1px #D3D4D5 solid;
	width       : 550px;
	float       : right;
	margin-right: 30px;
	margin-top  : 30px;	
	padding     : 0 0 0 10px;
}

/*책 등록시 취소, 키핑, 기부 버튼 위치*/
.bookUploadButton {
	*border      : 1px #D3D4D5 solid;
	text-align  : center;
	width       : 200px;
	clear       : both;
	margin: 20px auto 15px auto;
}

/*아래의 캐치프레이즈를 위해 만든 div*/
#bookUploadFooter {
	*border     : 1px #D3D4D5 solid;
	display     : inline-block;
	width       : 100%;
	clear       : both;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left : auto;
	text-align  : center;
}

/*안써도 상관없지만 만들다 임의로 넣은 한마디*/
#bookUploadCatchphrase {
	*border     : 1px #D3D4D5 solid;
	display     : block;
	width       : 100%;
	text-align  : center;
	margin: 0 auto;
	padding-bottom: 10px;
	color    : #636363;
	font-size: 0.9em;
}

.bookDetail {
	border : black #D3D4D5 solid;
	height : 400px;
}