#postWrapper {
	*border : 1px red solid;
	width   : 500px;
	height  : 100%;
	display : block;
	margin : 0 auto;	
}

#postBox {
	*border : 1px blue solid;
	display : block;
	position : relative;
	top : 30px;
	width : 338px;
	height : 100%;
	margin : 0 auto;
}

#postPage {
	*border : 1px red solid;
	text-align: left;
	color: red;
	width: 338px;
	height  : 25px;
}

#postInput  {
	*border : 1px red solid;
	display : block;
	position : relative;
	top : 20px;
	font-size: 1em;
	height  : 60px;
	width : 338px;
	line-height : 30px;
	text-align: left;	
}

#postExample {
	*border : 1px;
	display : block;
	position : relative;
	top : 20px;
	height  : 36px;
	line-height : 36px;
	font-size: 0.9em;
	text-align: left;
	border-collapse: separate;
	border-spacing: 2px;
}

#postSearch {
	display : block;
	position : relative;
	top : 30px;
	font-size: 0.9em;
	width : 338px;
	background-color: #EBEBEB;
	text-align: left;
	color: black;
}

#postResultTable {
	display : block;
	width : 400px;
	margin : 10px auto 0 auto;
	border-collapse: collapse;
}

#postResultTable tr {
	height : 30px;
	line-height : 30px;
}

#postResultTable th {
	border : 1px #D3D4D5 solid;
}

#postResultTable td {
	border : 1px #D3D4D5 solid;
}

.postAddr {
	padding-left : 10px;	
}

.postZip {
	text-align : center;
}

#postResultTable a {
	color : #000;
}

#postResultTable a:hover {
	color : #000;
}

#postResultTable a:visited {
	color : #000;
}

#postResultTable a:linked {
	color : #000;
}