#informUpdatePage {
	*border : 1px red solid;
	display : block;
	position: relative;
	width       : 800px;
	height      : 100%;
	margin : 0 auto;
	padding-top: 80px;
	font-size: 0.9em;
	overflow : hidden;
}

#informUpdate {
	*border: 1px red solid;
	display: block;
	width: 600px;
	position: relative;
	margin: 0 auto;
}

.informUpdateForm {
	*border : 1px #FAFAFA solid;
	display : block;
	height : 40px;
	width : 600px;
	margin : 20px auto 10px auto; 
}

.informUpdateForm label {
	*background-color : #FAFAFA;
	*border : 1px blue solid;
	display : inline-block;
	float : left;
	width : 140px;
	text-align : right;
	line-height : 40px;
	*margin : 10px 0 10px 80px; 
}

.informUpdateInput {
	border : 1px solid #D3D4D5;
	display : block;
	width : 250px;
	height : 36px;
	margin : 0 0 0 200px;
	*outline : thin solid #D3D4D5;
	padding-left : 15px;
}

#informUpdate input:focus {
	*outline : thin solid #0995E0;
	border : 1px solid #0995E0;
}

#informUpdateInputZipcode {
	position : relative;
	*border : 1px blue solid;
	display : block;
	*float : right;
	width : 350px;
	height : 36px;
	*margin-top : -70px;
	margin-left : 200px;
}

#zipUpdate {
	position : relative;
	border : 1px #D3D4D5 solid;
	display : inline-block;
	width : 70px;
	height : 36px;
	margin-left : 5px;
	line-height : 36px;
	text-align : center;
	background-color : #0995E0;
	color : #FFF;
}

#zipUpdate a {
	color : #FFF;
}

#zipUpdate a:hover {
	color : #FFF;
}

#zipUpdate a:visited {
	color : #FFF;
}

#zipUpdate a:active {
	color : #FFF;
}

#informUpdateInputZipcode input {
	width  : 170px;
	height : 36px;
	margin : 0 auto;
	border : 1px solid #D3D4D5;
	*outline : thin solid #D3D4D5;
	padding-left : 15px;
	text-align : center
}

#updateFormBottom {
	*border: 1px red solid;
	display: block;
	width: 240px;
	height : 75px;
	margin: 10px auto 20px auto;
}

.updateInformBtn {
	border : 1px #D3D4D5 solid;
	display : inline-block;
	margin-top : 20px;
	*padding-bottom : 20px;
	width: 100px;
	height : 36px;
	line-height : 36px;
	text-align : center;
	cursor : pointer;
}

#updateBtn {
	margin-left : 32px;
}