#popupPage {
	border  : 1px #D3D4D5 solid;
	position: relative;
	display: block;
	*border  : 1px red solid;
	width   : 820px;
	height  : 430px;
	top : 28px;
	left    : 50px;
	overflow : hidden;
}

#leftSide {
	*border : 1px red solid;
	display : block;
	float : left;
	width : 470px;
	margin-top : 10px;
	
}

#rightSide {
	*border : 1px blue solid;
	display : block;
	float : right;
	width : 300px;
	margin-right: 30px;
	margin-top : 20px;
}

.popupProfileImg {
	border : 1px #D3D4D5 solid;
	display : inline-block;
	width : 90px;
}
.pop_tit{
	background: #068ac9;
	padding:15px 20px;
	color:#fff;
	font-size:17px;
}
.addhead{
	background:#DFE7F6;
	/* padding:14px 0 12px 20px; */
	font-weight:bold;
	font-size:11px;
	width:60px;
}
.pop_tbl{width:100%;}

.pop_tbl th, .pop_tbl td{
	border:1px solid #C5C3C3;
	text-align: left;
}
.pop_tbl td{
	/* padding:14px 0 12px 20px; */
}